body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

#main {
    width: 100%;
    height: 300%;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    font-size: 1.5rem;
    background-image: url("img/clouds.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
#SideMenu{
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;
    width: 250px;
    height: 120px;
    background: white;
    border: 2px solid rgba(162,37,41,255);
}
#first {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40px;
    border-bottom: 2px solid rgba(162, 37, 41, 255);
    background-color: rgba(162, 37, 41, 255);
    color: white;
}

#second{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40px;
    border-bottom: 2px solid rgba(162, 37, 41, 255);
}
#third{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40px;

}
#firstcircle{
    position: absolute;
    margin-top: 10.5%;
    margin-left: 8%;
    width: 20px; 
    height: 20px;
    background-color: rgba(162, 37, 41, 255); 
    border-radius: 50%;
}
#rightdiv,#rightdiv2{
    height: auto;
    width: 796px;
    position: relative;
    margin-top: 50px;
    background-color: white;
    border: solid 2px black;
}
#somediv{
    position: absolute;
    height: auto;
    width: auto;
    top: 200px;
    left: 40%;
    flex-direction: row;
}
#top,#top2{
    position: relative;
    margin-top: 0px;
    height: 50px;
    width: 100%;
    background-color: rgba(162, 37, 41, 255);
    border-bottom: solid 2px black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#firstlink{
    text-decoration: none;
    color: white;
}
#secondlink{
    text-decoration: none;
    color: black;
}
#thirdlink{
    text-decoration: none;
    color: black;
}
#first:hover{
    background-color:rgba(110, 27, 30, 1);
    cursor: pointer;
}
#second:hover{
    background-color: rgb(196, 196, 196);
    cursor: pointer;
}
#third:hover{
    background-color: rgb(196, 196, 196);
    cursor: pointer;
}
#flightinfo,#flightinfo2{
    position: relative;
    margin-top: 50px;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#divv,#divv2{
    position: relative;
    margin-top: 50px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#passengerinfo,#passengerinfo2{
    position: relative;
    margin-top: 50px;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#cost{
    position: absolute;
    top: 50px;
    left: 40%;
    height: 150px;
    width: 796px;
    border: solid 2px black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: white;
}
#planeicon,#planeicon2{
    height: 100px;
    width: 100px;
    
}
.animate{
    animation: plane 1s ease 0s 1 normal forwards;
}
@keyframes plane {
	0% {
		transform: translateX(-150px); /* Move back 100px */
	}

	50% {
		transform: translateX(150px); /* Move to the right by 200px */
	}

	100% {
		transform: translateX( - 100px); /* Move to the final position */
	}
}
.button-18 {
    align-items: center;
    background-color: rgba(162,37,41,255);
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
   
    
  }
  
  .button-18:hover,
  .button-18:focus { 
    background-color: rgba(110, 27, 30, 1);
    color: #ffffff;
    animation: hop 0.5s;
  }
  
  .button-18:active {
    background: rgba(110, 27, 30, 1);
    color: rgb(255, 255, 255, .7);
  }
  
  .button-18:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }